# ignore object files
obj/

# ignore binary files
bin/

# ignore visual studio stuff
.vs/

# ignore Word document used as outline
Ski Rental Program Outline.docx
~$i Rental Program Outline.docx